/* sidebar */
.sidebar {
  background-color: var(--clr-primary);
  width: 260px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  transition: var(--transition-default);
}

.sidebar-header {
  background: #ffffff;
  padding: 20px 0px;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.info-name {
  font-weight: 500;
  font-size: 20px;
  color: var(--clr-white);
  text-transform: uppercase;
}

.info-img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sidebar-content {
  flex: 1;
  background: #0B1C51;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.navigation::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 18px;
}

.navigation::-webkit-scrollbar-thumb {
  background-color: var(--clr-pumpkin);
  border-radius: 18px;
}

.sidebar-footer {
  padding: 16px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
  /* Adds margin at the bottom */
}



.sidebar-change {
  margin-left: -260px;
}

.nav-item {
  margin-bottom: 10px;
  margin-right: 4px;
}

.nav-list {
  margin-top: 50px;
  margin-left: -7.5%;
  width: 100%;
}

.nav-link {
  font-family: Bold, sans-serif;
  display: block;
  height: 44px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex;
  padding: 6px 14px;
  column-gap: 12px;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
  color: #ffffff;
  transition: all 0.5s ease 0s;
}
.sub-menu {
  list-style-type: none;
  padding: 0 5px;
  margin: 0;
  cursor: pointer;
  font-size: 15px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  margin-top: 5px;
  margin-bottom: 10px;
}
.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
.sub-menu.active {
  max-height: 500px;
}

.nav-item .nav-link{
  cursor: pointer;

}
.sub-menu li {
  margin: 0;
}

.sub-menu .nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.sub-menu .nav-link.active {
  background-color: #8396d4; 
}



.nav-link:hover {
  border: 1px solid var(--clr-primar-light);
}

.nav-link.active {
  background-color: var(--clr-pumpkin);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.nav-link-icon {
  width: 22px;
}

.nav-link-text {
  text-transform: capitalize;
}

@media screen and (max-width: 1400px) {
  .sidebar {
    padding: 24px 16px;
  }
}

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 72px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .sidebar-change {
    margin-left: -72px;
  }

  .info-name {
    display: none;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
  }

  .nav-link {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
  }

  .nav-link.active {
    border-radius: 100%;
  }

  .nav-link:hover {
    border-radius: 100%;
  }

  .nav-link-text {
    display: none;
  }
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight.p-focus {
  background: #EDF2FB;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: #585858;
  background: #ffffff;
}

@media screen and (max-width: 420px) {
  .sidebar {
    margin-left: -72px;
  }

  .sidebar-change {
    margin-left: 0px;
  }
}