/* main content top */
.main-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7%;
}

.sidebar-toggler {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.sidebar-toggler img {
  width: 20px;
}

.content-top-title {
  color: var(--clr-white);
  font-size: 20px;
  font-weight: 600;
}

.content-top-btn {
  margin-left: 18px;
}

.content-top-btn img {
  width: 24px;
}

.content-top-btn img:hover {
  filter: brightness(0) invert(1);
}

.content-top-left {
  display: flex;
  align-items: center;
}

.mensaje {
  background-color: var(--clr-primary);
  border: none; /* Eliminar el borde */
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  color: var(--clr-silver-v1);
  font-weight: 600;
}


